<ion-card>
  <ion-card-header>
    <ion-card-title>Client
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="client.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Account</ion-label>
      <ion-input type="text" [(ngModel)]="client.account" name="account"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Balance</ion-label>
      <ion-input type="number" [(ngModel)]="client.balance" name="balance"></ion-input>
    </ion-item>

    <ion-button *ngIf="isNew" color="primary" (click)="addNew()">
      <ion-icon slot="start" name="add-circle"></ion-icon>
      Add
    </ion-button>
    <ion-button *ngIf="isNew" color="danger" class="ion-float-right" (click)="cancelAdding()">
      <ion-icon slot="start" name="close"></ion-icon>
      Cancel
    </ion-button>
  </ion-card-content>
</ion-card>
