<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Clients of {{bankname}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Banks</ion-label>
            <ion-button shape="round" fill="outline" color="success" (click)="add()">
                <ion-icon slot="start" name="add"></ion-icon>
                Add
            </ion-button>
        </ion-list-header>

        <app-client *ngIf="showNew" [isNew]="true"
                  (addClient)="addClient($event)"
                  (cancelAddingClient)="showNew=false"></app-client>

        <div *ngFor="let client of clients; let i = index" text-wrap>
            <ion-item-sliding>
                <ion-item-options side="start">
                    <ion-item-option color="primary" (click)="showEdit=i">
                        <ion-icon name="create"></ion-icon>
                        Edit
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="delete(i)">
                        <ion-icon name="trash"></ion-icon>
                        Delete
                    </ion-item-option>
                </ion-item-options>
                <ion-item (click)="showEdit=-1">
                    <ion-icon *ngIf="client.bank === 'PrivatBank'" name="card-outline" slot="start"></ion-icon>
                    <ion-icon *ngIf="client.bank === 'MonoBank'" name="cash-outline" slot="start"></ion-icon>
                    <ion-label text-wrap>{{client.name}}</ion-label>
                    <ion-note>{{client.balance}}</ion-note>
                </ion-item>
            </ion-item-sliding>
            <app-client *ngIf="showEdit==i" [isNew]="false" [client]="client"></app-client>
        </div>
    </ion-list>
    <ion-item>
        <ion-label position="floating">Home</ion-label>
        <ion-input type="text" #home></ion-input>
    </ion-item>
    <ion-button color="primary" class="ion-float-right" (click)="passData(home.value)">
        <ion-icon slot="start" name="send"></ion-icon>
        Go home
    </ion-button>
</ion-content>
