<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Data returning</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label position="floating">Home data</ion-label>
  <ion-input type="text" [(ngModel)]="textData"></ion-input>
</ion-item>
  <ion-button color="primary" class="ion-float-right" (click)="passData()">
    <ion-icon slot="start" name="sync"></ion-icon>Returned data
  </ion-button>
</ion-content>
