<ion-card>
    <ion-card-header>
        <ion-card-title>{{title}}
        </ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" [(ngModel)]="bank.name" name="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input type="text" [(ngModel)]="bank.address" name="address"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Money</ion-label>
            <ion-input type="number" [(ngModel)]="bank.money" name="money"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Filials</ion-label>
            <ion-input type="number" [(ngModel)]="bank.filials" name="filials"></ion-input>
        </ion-item>
        <ion-button *ngIf="isNew" color="primary" (click)="addNew()">
            <ion-icon slot="start" name="add-circle"></ion-icon>
            Add
        </ion-button>
        <ion-button *ngIf="isNew" color="danger" class="ion-float-right" (click)="cancelAdding()">
            <ion-icon slot="start" name="close"></ion-icon>
            Cancel
        </ion-button>
    </ion-card-content>
</ion-card>
