<ion-header>
    <ion-toolbar>
        <ion-title>
            Banks
        </ion-title>
        <ion-buttons slot="secondary">
            ({{userName}})
            <ion-button routerLink="/login" routerDirection="root">
                <ion-icon slot="icon-only" name="log-out"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-label>Banks</ion-label>
            <ion-button shape="round" fill="outline" color="success" (click)="add()">
                <ion-icon slot="start" name="add"></ion-icon>
                Add
            </ion-button>
        </ion-list-header>

        <app-bank *ngIf="showNew" [isNew]="true"
                  (addBank)="addBank($event)"
                  (cancelAddingBank)="showNew=false"></app-bank>

        <div *ngFor="let bank of banks; let i = index">
            <ion-item-sliding>
                <ion-item-options side="start">
                    <ion-item-option color="primary" (click)="showEdit=i">
                        <ion-icon name="create"></ion-icon>
                        Edit
                    </ion-item-option>
                    <ion-item-option color="danger" (click)="delete(i)">
                        <ion-icon name="trash"></ion-icon>
                        Delete
                    </ion-item-option>
                </ion-item-options>
                <ion-item (click)="showEdit=-1">
                    <ion-icon name="logo-bitcoin" slot="start"></ion-icon>
                    <ion-label>{{bank.name}}</ion-label>
                    <ion-note slot="end">{{bank.money}}</ion-note>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="secondary" routerLink="/clients/{{bank.name}}" routerDirection="forward">
                        <ion-icon name="reorder"></ion-icon>
                        Clients
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
            <app-bank *ngIf="showEdit==i" [isNew]="false" [bank]="bank"></app-bank>
        </div>
    </ion-list>
    <ion-item text-center>
        <ion-input type="text" [(ngModel)]="extraData"></ion-input>
    </ion-item>
    <ion-button color="primary" class="ion-float-right" (click)="getData()">
        <ion-icon slot="start" name="sync"></ion-icon>
        Throw data
    </ion-button>
</ion-content>
